<div class="row">
  <div class="col-md-12">
    <h1>Meus álbums</h1>
  </div>
  <div class="col-md-12">
    <button class="btn btn-primary" [routerLink]="['create']"> Adicionar Novo álbum</button>
  </div>
  <br><br>
  <div class="card col-md-3" *ngFor="let album of albums">
    <div class="card-body">
        <button type="button" class="close" (click)="delete(album.id)" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      <h3>
         <a [routerLink]="[album.id,'photos','create']"> {{album.name}} </a>
        </h3>
        
    </div>
  </div> 
</div>